
package-lock.json
env.json
.vscode
# envs
envs
env*json
.prettierrc.json

# dotenv environment variables file
.env
.env.test


# Dependency directories
node_modules/
jspm_packages/


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

